.page{
    display: grid;
    grid-template-columns: 1.7fr 6fr;
    border-bottom: 1px solid gray;
}

.item-list{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-left: 1px solid gray;
    
}   

.item-card{
    margin: 23px;
}


